<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">TaskFlow</h2>
                <p class="text-white-50 mb-5">Ingrese su email y contraseña</p>
                <form>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="password" placeholder="Current password" id="currentpassword" name="currentpassword" [(ngModel)]="currentpassword" class="form-control form-control-lg" />
                    <label class="form-label d-none" for="currentpassword">Current Password</label>
                    </div>

                    <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="password" placeholder="New Password" id="newPassword" name="newPassword" ngModel
                    #passwordInput="ngModel" [(ngModel)]="newPassword" class="form-control form-control-lg" />
                    <label class="form-label d-none" for="newPassword">New Password</label>
                    </div>

                    <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" ngModel
                    #confirmpasswordInput="ngModel" [(ngModel)]="confirmPassword" class="form-control form-control-lg" />
                    <label class="form-label d-none" for="confirmPassword">Confirm Password</label>
                    </div>
                    <button *ngIf="!cargando" (click)="confirmPasswordReset()" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Enviar</button>
                </form>
                </div>

            </div>
            </div>
        </div>
        </div>
    </div>
</section>